Repository carbon-design-system/carbon-web-components, pull requests merged in 2020-11, with the labels that each got.

#539 chore(build): add automerge workflow
  .github/workflows/automerge.yml
Labels: Ready to merge, package: carbon web components

#541 chore(percy): adding percy automated visual testing
  .github/workflows/percy-update-base.yml
  .gitignore
  .yarn/offline-mirror/@percy-io-in-percy-0.1.11.tgz
  .yarn/offline-mirror/@percy-react-percy-api-client-0.4.6.tgz
  .yarn/offline-mirror/@percy-storybook-3.3.1.tgz
  .yarn/offline-mirror/bluebird-3.7.2.tgz
  .yarn/offline-mirror/bluebird-retry-0.11.0.tgz
  .yarn/offline-mirror/dotenv-8.2.0.tgz
  .yarn/offline-mirror/es6-error-4.1.1.tgz
  .yarn/offline-mirror/es6-promise-pool-2.5.0.tgz
  .yarn/offline-mirror/extract-zip-1.7.0.tgz
  .yarn/offline-mirror/foreachasync-3.0.0.tgz
  .yarn/offline-mirror/https-proxy-agent-2.2.4.tgz
  .yarn/offline-mirror/jssha-2.4.2.tgz
  .yarn/offline-mirror/lodash-4.17.20.tgz
  .yarn/offline-mirror/mime-db-1.44.0.tgz
  .yarn/offline-mirror/mime-types-2.1.27.tgz
  .yarn/offline-mirror/mkdirp-0.5.5.tgz
  .yarn/offline-mirror/percy-client-3.8.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/regenerator-runtime-0.13.7.tgz
  .yarn/offline-mirror/request-promise-4.2.6.tgz
  .yarn/offline-mirror/request-promise-core-1.1.4.tgz
  .yarn/offline-mirror/slugify-1.4.6.tgz
  .yarn/offline-mirror/walk-2.3.14.tgz
  .yarn/offline-mirror/yargs-7.1.1.tgz
  .yarn/offline-mirror/yargs-parser-5.0.0-security.0.tgz
  README.md
  package.json
  src/components/button/button-story.ts
  src/components/code-snippet/code-snippet-story.ts
  src/components/data-table/data-table-story.ts
  src/components/date-picker/date-picker-story.ts
  src/components/dropdown/dropdown-story.ts
  src/components/inline-loading/inline-loading-story.ts
  src/components/number-input/number-input-story.ts
  src/components/progress-indicator/progress-indicator-story.ts
  src/components/radio-button/radio-button-story.ts
  src/components/search/search-story.ts
  src/components/skeleton-placeholder/skeleton-placeholder-story.ts
  src/components/skeleton-text/skeleton-text-story.ts
  src/components/slider/slider-story.ts
  src/components/structured-list/structured-list-story.ts
  src/components/tabs/tabs-story.ts
  src/components/textarea/textarea-story.ts
  yarn.lock
Labels: Ready to merge

#502 chore(dropdown-item): add shadow parts
  src/components/dropdown/dropdown-item.ts
Labels: package: carbon web components

#501 chore(search): add shadow parts
  src/components/search/search.ts
  tests/snapshots/bx-search.md
  tests/snapshots/data-table.md
Labels: Ready to merge, package: carbon web components

#500 chore(modal): add shadow parts
  src/components/modal/modal-close-button.ts
  src/components/modal/modal.ts
Labels: Ready to merge, package: carbon web components

#497 chore(accordion): add shadow parts
  src/components/accordion/accordion-item.ts
Labels: Ready to merge, package: carbon web components

#495 chore(checkbox): add shadow parts
  src/components/checkbox/checkbox.ts
  tests/snapshots/bx-checkbox.md
Labels: Ready to merge, package: carbon web components

#490 feat(link): define shadow part
  src/components/button/button.ts
  src/components/link/link.ts
  tests/snapshots/bx-btn.md
  tests/snapshots/bx-link.md
  tests/snapshots/bx-tile.md
Labels: Ready to merge, package: carbon web components

#542 feat(icon): add type definition
  .yarn/offline-mirror/cross-env-7.0.2.tgz
  gulp-tasks/build.js
  gulpfile.js
  package.json
  tests/integration/build/angular_steps.js
  tests/integration/build/basic_steps.js
  tests/integration/build/custom-style_steps.js
  tests/integration/build/form-angular_steps.js
  tests/integration/build/form-basic_steps.js
  tests/integration/build/ie_steps.js
  tests/integration/build/react_steps.js
  tests/integration/build/redux-form_steps.js
  tests/integration/build/rtl_steps.js
  tests/integration/build/theme-zoning_steps.js
  tests/integration/build/vue_steps.js
  yarn.lock
Labels: package: carbon web components

#543 chore(docs): update question template
  .github/ISSUE_TEMPLATE/question.md
Labels: Ready to merge

#546 feat(button): add tertiary and ghost variants to danger
  src/components/button/button-story.ts
  src/components/button/button.ts
Labels: package: carbon web components

#544 feat(accordion): add disabled state to accordion item
  src/components/accordion/accordion-item.ts
  src/components/accordion/accordion-story-angular.ts
  src/components/accordion/accordion-story-react.tsx
  src/components/accordion/accordion-story-vue.ts
  src/components/accordion/accordion-story.ts
  src/components/accordion/accordion.scss
Labels: Ready to merge, package: carbon web components

#545 feat(link): add size variants
  src/components/link/link-story-angular.ts
  src/components/link/link-story-react.tsx
  src/components/link/link-story-vue.ts
  src/components/link/link-story.ts
  src/components/link/link.ts
Labels: Ready to merge, package: carbon web components

#547 feat(button): add XL size variant
  src/components/button/button-story.ts
  src/components/button/button.ts
Labels: Ready to merge, package: carbon web components
