Repository carbon-design-system/carbon-web-components, pull requests merged in 2020-12, with the labels that each got.

#552 chore(dependencies): upgrade Carbon
  .yarn/offline-mirror/@carbon-icon-helpers-10.10.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.20.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.22.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.20.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.22.0.tgz
  .yarn/offline-mirror/@carbon-icons-vue-10.20.0.tgz
  .yarn/offline-mirror/@carbon-icons-vue-10.22.0.tgz
  .yarn/offline-mirror/carbon-components-10.23.1.tgz
  .yarn/offline-mirror/carbon-components-10.25.0.tgz
  examples/codesandbox/angular/package.json
  examples/codesandbox/basic/package.json
  examples/codesandbox/data-table/package.json
  examples/codesandbox/form/angular/package.json
  examples/codesandbox/form/basic/package.json
  examples/codesandbox/form/redux-form/package.json
  examples/codesandbox/ie/package.json
  examples/codesandbox/react/package.json
  examples/codesandbox/rtl/package.json
  examples/codesandbox/styling/custom-style/package.json
  examples/codesandbox/styling/theme-zoning/package.json
  examples/codesandbox/vue/package.json
  package.json
  src/components/code-snippet/code-snippet.scss
  src/components/input/input.ts
  src/components/number-input/number-input.ts
  src/components/textarea/textarea.ts
  src/components/tooltip/tooltip-body.ts
  tests/integration/build/form-angular_steps.js
  tests/snapshots/bx-input.md
  tests/snapshots/bx-number-input.md
  tests/snapshots/bx-textarea.md
  tests/snapshots/file-uploader.md
  yarn.lock
Labels: Ready to merge, package: carbon web components

#553 fix(react): fix serializers
  src/globals/wrappers/createReactCustomElementType.ts
Labels: Ready to merge, package: carbon web components

#549 docs(ui-shell): update doc of side nav
  src/components/ui-shell/ui-shell-story.mdx
Labels: Ready to merge, package: carbon web components

#555 test(integration-ui): fix for WebKit
  src/components/modal/modal-story.scss
  src/components/modal/modal-story.ts
Labels: package: carbon web components

#556 docs(examples): update React SSR
  README.md
  examples/codesandbox/next/package.json
  examples/codesandbox/react-ssr/package.json
Labels: Ready to merge, package: carbon web components

#559 feat(accordion): add size variants
  src/components/accordion/accordion-story-angular.ts
  src/components/accordion/accordion-story-react.tsx
  src/components/accordion/accordion-story-vue.ts
  src/components/accordion/accordion-story.ts
  src/components/accordion/accordion.scss
  src/components/accordion/accordion.ts
  src/components/accordion/defs.ts
Labels: package: web components

#560 feat(overflow-menu): add size variants
  src/components/overflow-menu/defs.ts
  src/components/overflow-menu/overflow-menu-story-angular.ts
  src/components/overflow-menu/overflow-menu-story-react.tsx
  src/components/overflow-menu/overflow-menu-story-vue.ts
  src/components/overflow-menu/overflow-menu-story.ts
  src/components/overflow-menu/overflow-menu.scss
  src/components/overflow-menu/overflow-menu.ts
Labels: Ready to merge, package: carbon web components

#561 feat(content-switcher): add size variants
  src/components/content-switcher/content-switcher-story-angular.ts
  src/components/content-switcher/content-switcher-story-react.tsx
  src/components/content-switcher/content-switcher-story-vue.ts
  src/components/content-switcher/content-switcher-story.ts
  src/components/content-switcher/content-switcher.scss
  src/components/content-switcher/content-switcher.ts
  src/components/content-switcher/defs.ts
Labels: Ready to merge, package: carbon web components
