Repository carbon-design-system/carbon-web-components, pull requests merged in 2021-01, with the labels that each got.

#563 fix(unordered-list): workaround for WebKit
  src/components/list/list.scss
Labels: Ready to merge, package: carbon web components

#567 chore(build): update deploy logic
  .github/workflows/deploy.yml
  manifest.yml
Labels: Ready to merge, package: carbon web components

#569 chore(build): add logic to deploy to GH pages
  .github/workflows/deploy.yml
  tools/deploy.sh
Labels: package: carbon web components

#565 fix(side-nav): fix icon color
  src/components/ui-shell/side-nav.scss
Labels: Ready to merge, package: carbon web components

#568 feat(link): added methods from dds-link
  src/components/link/link.ts
  tests/snapshots/bx-link.md
  tests/snapshots/bx-tile.md
Labels: package: carbon web components

#570 chore(build): change build order
  .github/workflows/deploy.yml
Labels: package: carbon web components

#571 chore(dependencies): upgrade Carbon
  .yarn/offline-mirror/@carbon-icon-helpers-10.10.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.11.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.22.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.23.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.22.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.23.0.tgz
  .yarn/offline-mirror/@carbon-icons-vue-10.22.0.tgz
  .yarn/offline-mirror/@carbon-icons-vue-10.23.0.tgz
  .yarn/offline-mirror/carbon-components-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-10.26.0.tgz
  examples/codesandbox/angular/package.json
  examples/codesandbox/basic/package.json
  examples/codesandbox/data-table/package.json
  examples/codesandbox/form/angular/package.json
  examples/codesandbox/form/basic/package.json
  examples/codesandbox/form/redux-form/package.json
  examples/codesandbox/ie/package.json
  examples/codesandbox/next/package.json
  examples/codesandbox/react-ssr/package.json
  examples/codesandbox/react/package.json
  examples/codesandbox/rtl/package.json
  examples/codesandbox/styling/custom-style/package.json
  examples/codesandbox/styling/theme-zoning/package.json
  examples/codesandbox/vue/package.json
  package.json
  src/components/code-snippet/code-snippet.ts
  src/components/inline-loading/inline-loading.scss
  src/components/loading/loading-icon.ts
  src/components/loading/loading.scss
  tests/snapshots/bx-code-snippet.md
  yarn.lock
Labels: package: carbon web components

#572 chore(changelog): adding script for generating changelogs
  tools/get-changelog.js
Labels: Ready to merge
